#body {
  padding-top: 70px;
  background-color: black; }

#splashContainer {
  color: white;
  border-radius: 10px;
  margin-top: 15%; }

.splashLinks {
  display: block;
  font-size: 120%;
  margin: 10px auto;
  max-width: 300px; }

.white {
  color: white; }
